<template>
    <div>
        <h1>History</h1>

        <button @click="showModal = true" class="btn login-button">Add new word</button>
        <modal @close="closeModal"  formType="NewWordDefinitionForm"  :is-shown="showModal"></modal>
    </div>
</template>

<script>
    import Modal from "./Modal";
    export default {
        name: "Dashboard",
        components: {Modal},
        data: function () {
            return {
                showModal: false
            }
        },
        methods: {
            closeModal: function (data) {

                this.showModal = data.state
            }
        }
    }
</script>

<style scoped>

</style>