<template>
  <div class="hello">

    <div class="form-row">
      <label for="search" class="label autocomplete-label">Search</label>
      <div class="autocomplete-wrapper">
      <input id="search" v-model="searchTerm" @input="save" class="input autocomplete-input" placeholder="Fill the word...">
      <ul v-show="isShown" class="autocomplete-list">
        <li v-for="(item, index) in filteredItems" :key="index" @click="selectAutocomplete(item)">{{ item }}</li>
      </ul>
      </div>
      <router-link to="/">Home</router-link>
    </div>
  </div>
</template>

<script>

export default {
  name: 'HelloWorld',
  data: function () {
    return { searchItems: ["Item 1","Item 2", "Item 3"], searchTerm: '', filteredItems: [], isShown: false }
  },

  methods: {
    save: function () {
      const filteredWords = this.searchItems.filter(item => {

        return item.includes(this.searchTerm)
      });

      if (this.searchTerm.length > 3){
        this.isShown = true;


        this.filteredItems =  Array.isArray(filteredWords) ? filteredWords : []
      }

    },
    selectAutocomplete: function (searchItem) {
      this.searchTerm = searchItem
      this.isShown = false;
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.autocomplete-wrapper {
  position:relative;
}

.autocomplete-input {
    height: 48px;
}
.autocomplete-list {
  display:flex;
  position:absolute;
  top:50px;
  flex-direction:column;
  background-color: white;
  width:100%;
  list-style:none;
}

.autocomplete-list li {
  padding: 10px;
  border-bottom: 1px solid;
}

.autocomplete-list li:hover {
    background-color: #d7d7d7;
}

.autocomplete-label {
  margin-right: 20px;
}
</style>
