<template>
    <div id="app">
        <div class="container">

                <div  class="form-row">

                    <div class="autocomplete-wrapper">
                        <input @keyup.enter="redirect" autocomplete="off" aria-label="Translate input" id="search" v-model="searchTerm" @input="throttledSave" class="input autocomplete-input" placeholder="Fill the word...">

                        <ul v-show="isShown" class="autocomplete-list">
                            <li v-for="(item, index) in filteredItems" :key="index" @click="selectAutocomplete(item.name)">{{ item.name }}</li>
                        </ul>
                    </div>
                    <router-link :to="`/dictionary/${searchTerm}`" class="btn login-button">Translate</router-link>

                </div>
        </div>
    </div>
</template>

<script>
    import throttle from "../utilities";
    export default {
        name: "Home",
        data: function () {
            return { searchItems: ["Item 1","Item 2", "Item 3"], searchTerm: '', filteredItems: [{ name: ''}], isShown: false }
        },
        computed: {
            throttledSave: function() {
                let DELAY = 1500;
                return throttle(this.save, DELAY);
            }
        },
        methods: {
            save: function () {
                fetch(`/api/word/get/${this.searchTerm}`).then(response => response.json())
                    .then(value => {
                        if (value.length > 0) {

                            this.filteredItems = value

                        }

                    })
                // const filteredWords = this.searchItems.filter(item => {
                //
                //     return item.includes(this.searchTerm)
                // });
                //
                if (this.searchTerm.length > 3){
                    this.isShown = true;
                //
                //
                //     this.filteredItems =  Array.isArray(filteredWords) ? filteredWords : []
                } else {
                    this.isShown = false
                }

            },
            selectAutocomplete: function (searchItem) {
                this.searchTerm = searchItem
                this.isShown = false;
            },
            redirect: function () {
                this.$router.push({ name: 'word', params: { word: this.searchTerm }});
            }
        }
    }
</script>

<style scoped>
.autocomplete-wrapper {
  position:relative;
  display:flex;
  justify-content:center;
     width: 100%
}

.autocomplete-input {
    height: 48px;

}
.autocomplete-list {
  display:flex;
  position:absolute;
  top:51px;
  flex-direction:column;
  background-color: white;
  width:92%;
  list-style:none;
}

.autocomplete-list li {
  padding: 10px;
  display: flex;
}

.autocomplete-list li:hover {
    background-color: #d7d7d7;
}

.autocomplete-label {
  margin-right: 20px;
}

.form-row .btn {
        margin-top: 20px;
}

.form-row {
    margin: 0 auto;
}
@media (min-width: 440px) {
    .form-row .btn {
        margin-top: 0px;
    }
}
</style>