<template>
    <form  @submit="sendForm($event)" class="modal-form">
        <div class="form-row">
            <input aria-label="Login" placeholder="Login" v-model="login" class="input" type="text">
        </div>
        <div class="form-row">
            <input aria-label="Password" v-model="password" autocomplete placeholder="Password" class="input" type="password">
        </div>
        <button type="button" class="btn" @click="showRegisterForm">Not registered yet?</button>
        <p style="color:red" v-show="error">{{ errorMessage }}</p>
        <button :class="['btn','login-button']">Login</button>
    </form>
</template>

<script>
    export default {
        name: "LoginForm",
        data: function() {
          return {isShownRegisterForm: false, login: '', password:'',  error: false,
              errorMessage: ''}
        },
        methods: {
            showRegisterForm: function() {

                this.$emit('close', { formType: "RegisterForm", state: true});
                this.$emit('close', { formType: "LoginForm", state: false });
                    this.isShownRegisterForm = true;
            },
            sendForm: function (event) {
                event.preventDefault()
                const data = new FormData();
                data.append('login', this.login)
                data.append('password', this.password)
                fetch('/api/login', {
                    method: 'POST',
                    headers: {
                        'Access-Control-Allow-Origin': '*'
                    },
                    body: data
                }).then(response => response.json()).then(data => {
                    const {error, message} = data
                    if (error) {
                        this.error = true
                        this.errorMessage = message
                    } else {
                        this.$emit('submit')
                    }
                })
            }
        }
    }
</script>

<style scoped>
.login-button {
    margin-top: 50px;
    width: 50%;
    margin: 0 auto;
}
.form-row {
    flex-direction:column;
    align-items: flex-start
}
</style>