<template>
    <transition name="fade">
    <div v-show="isShown" class="modal-bg">
        <div class="modal">
            <button @click="closeModal" class="btn modal-close" aria-label="Close" type="button">x</button>
            <component v-if="formState" @close="closeModal" @submit="sendForm" v-bind:is="formType"></component>
            <div v-else class="modal-form" >
                <p>Success</p>
                <img src="@/assets/img/success-icon.png">
            </div>
        </div>
    </div>
    </transition>
</template>

<script>
    import LoginForm from "./LoginForm";
    import RegisterForm from "./RegisterForm";
    import NewWordDefinitionForm from "./NewWordDefinitionForm";
    const mixin = {
        data: function (){
            return {formState: true}
        },
        props: {
            isShown: Boolean,
            formType: String
        },
        methods: {
            closeModal: function (childrenProps = {}) {

                childrenProps = !childrenProps.target ? childrenProps : { formType: this.formType, state: !this.isShown}
                this.$emit('close', childrenProps)
                setTimeout(() => {
                    this.formState = true
                }, 500)
            },
            sendForm: function () {
                this.$emit('success')
                this.formState = false
                const closePromise = new Promise((resolve) => {
                    setTimeout(() => {
                        resolve(this.$emit('close', { formType: this.formType, state: !this.isShown}))
                    }, 1000)
                })

                closePromise.then(() => {
                    setTimeout(() => {
                        this.formState = true
                    }, 500)
                })


            }
        }
    }
    export default {
        name: "Modal",
        components: {LoginForm, RegisterForm, NewWordDefinitionForm},
        mixins: [mixin]
    }
</script>

<style scoped>
    .modal-close {
        width: 30px;
        height: 30px;
        padding:0;
        margin-top: 10px;
        font-weight: 500;
        margin-right: 10px;
        font-size: 18px;
    }


</style>