<template>
    <form  @submit.prevent="sendForm" class="modal-form">
        <div class="form-row">
            <input aria-label="Word" placeholder="Enter a word" required v-model="word" class="input" type="text">
        </div>
        <div class="form-row flex-column">
            <div class="d-flex flex-column w-100">
                <input  v-for="n in definitionCount" required :key="n" aria-label="Definition" v-model="definitions[n - 1]" autocomplete placeholder="Enter a definition" class="input">
            </div>
            <button type="button" @click="definitionCount++" :class="['btn', 'mt-2']">+ Add new definition</button>
        </div>
        <p style="color:red" v-show="error">{{ errorMessage }}</p>
        <button :class="['btn','login-button','mb-2']">Save</button>
    </form>
</template>

<script>
    export default {
        name: "NewWordDefinitionForm",
        data: function () {
            return {
                word:'',
                definitionCount: 1,
                definitions: [],
                error: true,
                errorMessage: ''
            }
        },
        methods: {
            sendForm: function () {
                const data = new FormData()
                data.append('word', this.word)
                data.append('definitions', JSON.stringify(this.definitions))
                fetch('/api/word/add', {
                    method: 'POST',
                    body: data
                }).then(response => response.json()).then(data => {
                    console.log(data)
                    const { error, message} = data;
                    if (error) {
                        this.error = true
                        this.errorMessage = message
                    } else {
                        this.$emit('submit')
                    }
                })
            }
        }
    }
</script>

<style scoped>

.mb-2 {
    margin-bottom: 20px;
}
 
.w-100 {
    width: 100%;
}
 .mt-2 {
    margin-top: 20px;
 }
</style>
