<template>
    <form  @submit="sendForm($event)" class="modal-form">
        <div class="form-row">
            <input aria-label="Login" v-model="login" placeholder="Login*" class="input" required type="text">
        </div>
        <div class="form-row">
            <input aria-label="Password" v-model="password" required autocomplete minlength="8" placeholder="Password*" class="input" type="password">
        </div>
        <button :class="['btn','login-button']">Register</button>
    </form>
</template>

<script>
    export default {
        name: "RegisterForm",
        data: function() {
          return {
                login: '',
                 password: '',
                 error: false,
                 errorMessage: ''
            }
        },
        methods: {
            sendForm: function (event) {
                event.preventDefault()
                if (this.login && this.password) {

                    const data = new FormData();
                    data.append('login', this.login)
                    data.append('password', this.password)
                    fetch('/api/register', {
                        method: 'POST',
                        headers: {
                            'Access-Control-Allow-Origin': '*'
                        },
                        body: data
                    }).then(response => response.json()).then(data => {
                        const {error, message} = data
                        if (error) {
                            this.error = true
                            this.errorMessage = message
                        } else {
                            this.$emit('submit')
                        }
                    })
                }
            }
        }
    }
</script>

<style scoped>
.form-row {
    flex-direction:column;
    align-items: flex-start
}
</style>