<template>
    <div v-if="!loading" class="word-wrapper">
        <router-link to="/">Go Back</router-link>
        <h1>{{word}}</h1>
        <div v-if="pronunciations.length > 0">
            <button v-for="(pronunciation, index) in pronunciations" class="btn"  :key="index" @click="playAudio(pronunciation.audioFile)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :class="{'fill-color-blue': index === 0, 'fill-color-pink': index > 0 }" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 9v6h4l5 5V4l-5 5H7z"/></svg>
                {{ pronunciation.dialects }}</button>
        </div>
        <ul class="definition-list">
            <li v-for="(definition, index) in definitions" :key="index">{{definition}}</li>
        </ul>
    </div>
    <div v-else>
        <img src="@/assets/img/ajax-loader.gif">
    </div>
</template>

<script>
    export default {
        name: "Word",
        data: function () {
            return {
                definitions: [],
                pronunciations: [],
                loading: true
            }
        },
        created() {
            const data = new FormData()
            data.append('word', this.word);
            fetch('/api/word/define', {
                method: 'POST',
                body: data
            }).then(response => response.json())
                .then(data => {
                    if (data) {
                        this.definitions = data.definitions
                        this.pronunciations = data.pronunciations
                        this.loading = false;
                    }
                })
        },
        computed: {
            word: function () {
                return this.$route.params.word
            }
        },
        methods: {
            playAudio: function (audioSrc) {
                const audio = new Audio(audioSrc);
                audio.play();
            }
        }
    }
</script>

<style scoped>
.definition-list {
list-style-type: "\2B50";
}

.definition-list li {
    text-align:start;
    padding: 10px;
    font-size: 20px;
    line-height: 25px;
}

.fill-color-blue {
    fill: blue;
}
.fill-color-pink {
    fill: pink
}


.btn {
    cursor: pointer;
    display:flex;
    align-items:center;
}
.word-wrapper {
display: flex;
flex-direction: column;
align-items: flex-start;
}
</style>
