body {
    margin: 0;
}
.input {
    padding-left: 15px;
}

.label {
    display: block;
}

.form-row {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    margin:0;
    padding:0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.menu {
    width:100%;
}
.menu__list {
    list-style:none;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-right: 20px;
}

.menu__item-link {
    text-decoration:none;
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    min-height: 70px;

}

.bg-primary {
    background-color: #D9AFD9;
    background-image: linear-gradient(270deg, #D9AFD9 0%, #97D9E1 100%);
}

.main {
    min-height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn {
    background-color: transparent;
    border:none;
}

.modal-bg {
    position: fixed;
    top:0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
  
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}

.flex-column {
    flex-direction: column;
}


.modal {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 90%;
    min-height: 60%;

    background-color: white;
}

.modal-form  {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button {
    margin-left: 20px;
    background-color: rgba(255,0,0,0.5);
    padding: 10px 20px;
    color: #fff;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}


.form-row {
    width: 90%;
    margin-bottom: 25px;
    align-items: center;

}

.input {
    border:none;
    min-height: 45px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    width:90%;
}

.input:invalid {
    box-shadow: none;
    outline:none;
    border-bottom: 1px solid rgba(255,0,0,0.8);

}

.input:valid {
    border-bottom: 1px solid rgba(0,255,0,0.8);
}


.login-button.active{
    background-color: rgba(0,255,0,0.5);
}



@media (min-width: 440px) {
    .form-row {
        flex-wrap: nowrap;
    }



    .modal {
        min-width: 80%;
        min-height: 60%;
    }

}

@media (min-width: 1200px) {
    .modal {
       min-width: 30%;
        min-height: 50%;
          max-width: 35%;
    }
    
    
}

