<template>
  <div id="app">
    <Menu></Menu>
    <div class="container">
      <main class="main">
        <router-view></router-view>
      </main>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Menu from './components/global/Menu'
import Footer from "./components/global/Footer";

export default {
  name: 'App',
  components: {
    Footer,
    Menu

  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


</style>
