<template>
    <footer class="footer bg-primary">

            <ul class="menu__list">
                <li class="menu__item">
                    <router-link class="menu__item-link" to="/">Home</router-link>
                </li>
            </ul>

    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
.menu__list {
    max-width: 1440px;
    width: 100%;
}
.footer {
    display:flex;
    align-items:center;
    justify-content: center;
    min-height: 70px;
    width: 100%;

}
.menu__item-link {
    margin-right: 25px;
}
</style>