<template>
    <header class="header bg-primary">

            <nav class="menu container">
                <ul class="menu__list">
                    <li class="menu__item">
                        <router-link class="menu__item-link" to="/">Home</router-link>
                    </li>
                    <li v-if="!auth" class="menu__item">
                        <button @click="isShownLoginFormModal = true"  class="btn login-button">Login</button>
                    </li>
                    <li v-if="!auth" class="menu__item">
                        <button @click="isShownRegisterFormModal = true"  class="btn login-button">Register</button>
                    </li>
                    <li v-else  class="menu__item">
                        <router-link class="menu__item-link" to="/dashboard">Dashboard</router-link>
                        <button @click="logout" class="btn login-button">Log out</button>
                    </li>
                </ul>
            </nav>
        <modal @close="closeModal" @success="getAuthintificated" formType="LoginForm"  :is-shown="isShownLoginFormModal"></modal>
        <modal @close="closeModal" @success="getAuthintificated" formType="RegisterForm"  :is-shown="isShownRegisterFormModal"></modal>
    </header>
</template>

<script>
    import Modal from "../Modal";
    export default {
        name: "Menu",
        data: function(){
          return {
              isShownLoginFormModal: false,
              isShownRegisterFormModal: false,
              auth: false
          }
        },
        created() {
          if (localStorage.getItem('token')) {
              this.auth = true
          }
        },
        components: {Modal},
        methods: {
            getAuthintificated: function() {
                if (!localStorage.getItem('token')) {
                    localStorage.setItem('token', Math.floor(Date.now() / 1000) + (60 * 60))
                }
                this.auth = true
            },
            closeModal: function ({formType, state}) {
                this[`isShown${formType}Modal`] = state
            },
            logout: function() {
                if (localStorage.getItem('token')) {
                    localStorage.removeItem('token')
                    this.auth = false
                }
        }}
    }
</script>

<style scoped>
.menu__item {
   margin-right: 20px;
}
</style>
